name: Android CI

on: [push, pull_request]

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2
    
    - name: Set up JDK
      uses: actions/setup-java@v1
      with:
        java-version: 11

    - name: Set up Android SDK License
      run: yes | /usr/local/lib/android/sdk/tools/bin/sdkmanager --licenses

    - name: Apply Signing
      if: ${{ github.event_name != 'pull_request' }}
      env:
        ALIAS: ${{ secrets.ALIAS }}
        KEY_PASSWORD: ${{ secrets.KEY_PASSWORD }}
        KEY_STORE_PASSWORD: ${{ secrets.KEY_STORE_PASSWORD }}
        SIGNING_KEY: ${{ secrets.SIGNING_KEY }}
        GOOGLE_SERVICES: ${{ secrets.GOOGLE_SERVICES }}
      run: ./.github/apply_signing.sh

    - name: Build with Gradle
      run: ./gradlew spotlessCheck lint bundle assemble --stacktrace

    - name: Upload build outputs
      uses: actions/upload-artifact@v2
      with:
        name: build-outputs
        path: ./app/build/outputs
        
    - name: Upload build reports
      uses: actions/upload-artifact@v2
      with:
        name: build-reports
        path: ./app/build/reports

    - name: Create Release
      if: startsWith(github.ref, 'refs/tags/')
      run: |
        set -x
        assets=()
        for asset in $(find -name *-release.apk); do
          assets+=("-a" "$asset")
        done
        tag_name="${GITHUB_REF##*/}"
        hub release create "${assets[@]}" -m "$tag_name" "$tag_name"
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}


