<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" xmlns:tools="http://schemas.android.com/tools"
          package="com.twidere.common">

    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission
        android:name="android.permission.AUTHENTICATE_ACCOUNTS"
        android:maxSdkVersion="22" />
    <uses-permission
        android:name="android.permission.GET_ACCOUNTS"
        android:maxSdkVersion="22" />
    <application>
        <provider
            android:name="androidx.startup.InitializationProvider"
            android:authorities="${applicationId}.androidx-startup"
            android:exported="false"
            tools:node="merge">
            <meta-data
                android:name="androidx.work.WorkManagerInitializer"
                android:value="androidx.startup"
                tools:node="remove" />
            <meta-data
                android:name="com.twidere.twiderex.initializer.NotificationChannelInitializer"
                android:value="androidx.startup"
                tools:node="remove" />
            <meta-data
                android:name="com.twidere.twiderex.initializer.DirectMessageInitializer"
                android:value="androidx.startup"
                tools:node="remove"/>
            <meta-data
                android:name="com.twidere.twiderex.initializer.NotificationInitializer"
                android:value="androidx.startup"
                tools:node="remove" />
            <meta-data
                android:name="com.twidere.twiderex.initializer.TwidereServiceInitializer"
                android:value="androidx.startup"
                tools:node="remove" />
        </provider>
    </application>
</manifest>